<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h1>Últimas notícias</h1>
        </div>
    </div>

    <div *ngFor="let news of allNews" class="row">
        <div class="col">
            <div class="alert alert-primary">
                <h3>{{ news.title }}</h3>
                <p>{{ news.text }}</p>
                <div class="row">
                    <div class="col-2">
                        <a class="btn btn-primary"href="">Conferir </a>

                    </div>
                    <div class="col-2" *ngIf="edit">
                        <a class="btn btn-warning"href="editNews/{{news.id}}">editar</a>
                    </div>
                    <div class="col-8" *ngIf="edit">
                      <a class="btn btn-danger"(click)="deleteNews(news.id)">Excluir</a>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>
