<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h1>Últimas notícias</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="alert alert-primary">
                <h3>Titulo da notícia</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a malesuada turpis. Pellentesque sed facilisis felis. Aliquam nec interdum ante. Donec eu orci vitae metus blandit venenatis in eu tellus. Etiam volutpat mauris et cursus sagittis. Mauris suscipit leo mauris, in convallis libero sodales ut. </p>
                <div class="row">
                    <div class="col-1">
                        <a href="">Visualizar </a>

                    </div>
                    <div class="col-11">
                        <a href="">editar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>