<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h1>Últimas notícias</h1>
        </div>
    </div>

    <div *ngFor="let news of allNews" class="row">
        <div class="col">
            <div class="alert alert-primary">
                <h3>{{ news.title }}</h3>
                <p>{{ news.text }}</p>
                <div class="row">
                    <div class="col-1">
                        <a href="">Visualizar </a>

                    </div>
                    <div class="col-11" *ngIf="edit">
                        <a href="editNews/{{news.id}}">editar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
